@import url("https://fonts.googleapis.com/css?family=Comfortaa|Kaushan+Script|Oswald&display=swap");
@import url("https://fonts.googleapis.com/css?family=Comfortaa|Kaushan+Script|Oswald&display=swap");
html {
  box-sizing: border-box;
  scroll-behavior: smooth; }

body {
  margin: 0; }

:root {
  --color-you: blue; }

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none; }

*::selection {
  background: #fa5252;
  color: #fff; }

*:focus {
  outline: none;
  box-shadow: 0 0 0 0.6rem #fa5252; }

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  box-sizing: border-box; }
  @media only screen and (min-width: 112.5em) {
    html {
      font-size: 75%; } }
  @media only screen and (max-width: 75em) {
    html {
      font-size: 56.25%; } }
  @media only screen and (max-width: 56.25em) {
    html {
      font-size: 50%; } }

body {
  overflow-x: hidden;
  scroll-behavior: smooth;
  background: #e9ecef; }

.darkMode body {
  background: #000;
  color: #e9ecef; }

body {
  font-weight: 400;
  line-height: 1.6;
  color: #777;
  font-family: "Poppins", sans-serif; }

.subheading {
  font-size: 1.8rem;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  line-height: 1.3;
  font-weight: 600;
  margin-bottom: 1.6rem;
  color: #e03131; }

.heading-1, .heading-2, .heading-3, .heading-4, .heading-5, .heading-6, .heading-7 {
  text-transform: uppercase;
  color: #fff;
  font-weight: 400; }
  .heading-1::first-letter, .heading-2::first-letter, .heading-3::first-letter, .heading-4::first-letter, .heading-5::first-letter, .heading-6::first-letter, .heading-7::first-letter {
    text-transform: uppercase; }

.heading-1 {
  font-size: 5.2rem;
  letter-spacing: -0.75px;
  line-height: 1.05;
  margin-bottom: 3.2rem; }

.heading-2 {
  font-size: 4.4rem;
  letter-spacing: -0.25px;
  line-height: 1.2;
  margin-bottom: 2.6rem; }

.heading-3 {
  font-size: 3.6rem;
  letter-spacing: 0.5px;
  line-height: 1.3;
  margin-bottom: 2.4rem; }

.heading-4 {
  font-size: 3rem;
  letter-spacing: 1px;
  line-height: 1.4;
  margin-bottom: 1.8rem; }

.heading-5 {
  font-size: 2.4rem;
  letter-spacing: 1px;
  line-height: 1.6;
  margin-bottom: 1.6rem; }

.heading-6 {
  font-size: 2.2rem;
  letter-spacing: 1px;
  line-height: 1.6;
  margin-bottom: 0.6rem; }

.heading-7 {
  font-size: 1.9rem;
  letter-spacing: 0.5px;
  line-height: 1.7;
  margin-bottom: 0.4rem; }

.heading-1--primary-gradient, .heading-2--primary-gradient, .heading-3--primary-gradient, .heading-4--primary-gradient, .heading-5--primary-gradient {
  background-image: linear-gradient(to right, #ff8787, #fa5252);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent; }

.heading-1--light, .heading-2--light, .heading-3--light, .heading-4--light, .heading-5--light, .heading-6--light {
  color: #555; }

.line {
  font-size: 1.8rem;
  line-height: 1.8;
  font-weight: 300; }
  .line--lw {
    font-size: 1.3rem; }
  .line--sm {
    font-size: 1.5rem; }
  .line--md {
    font-size: 1.6rem; }
  .line--bg {
    font-size: 2rem; }
  .line--lg {
    font-size: 2.2rem; }

@media only screen and (max-width: 75em) {
  .heading-1 {
    font-size: 4.4rem; }
  .heading-2 {
    font-size: 3.6rem; }
  .heading-3 {
    font-size: 3rem; }
  .heading-4 {
    font-size: 2.2rem; }
  .heading-5 {
    font-size: 2rem; } }

strong {
  display: inline-block;
  font-weight: 500; }

.primary-heading {
  font-size: 5.2rem;
  letter-spacing: -0.75px;
  line-height: 1.28;
  margin-bottom: 3.2rem;
  font-weight: 600;
  color: #333; }
  .primary-heading--sm {
    font-size: 3rem; }
  .primary-heading--md {
    font-size: 3.6rem; }
  .primary-heading--bg {
    font-size: 4.4rem; }

.highlight {
  display: inline-block;
  background-image: linear-gradient(to right, #ff8787, #fa5252);
  font-size: #444;
  clip-path: polygon(12% 0%, 100% 0%, 90% 100%, 0% 100%);
  padding: 0.5rem 2.8rem;
  position: relative; }
  .highlight--1 {
    z-index: 2; }
  .highlight--2 {
    z-index: 1; }
  .highlight--sm {
    padding: 0.5rem 2rem; }

.margin-bottom-lw {
  margin-bottom: 1.2rem !important; }

.margin-bottom-sm {
  margin-bottom: 2.4rem !important; }

.margin-bottom-md {
  margin-bottom: 4.8rem !important; }

.margin-bottom-bg {
  margin-bottom: 6.4rem !important; }

.margin-bottom-hg {
  margin-bottom: 9.6vw !important; }

.container {
  margin: 0 auto;
  max-width: 120rem;
  width: 100%;
  padding: 9.6rem 3.2rem; }

.container--60 {
  max-width: 60rem; }

.container--80 {
  max-width: 80rem; }

.container--100 {
  max-width: 100rem; }

.container--110 {
  max-width: 110rem; }

.container--120 {
  max-width: 120rem; }

.container--130 {
  max-width: 130rem; }

.container--sm {
  padding: 2.4rem 3.2rem; }

.container--md {
  padding: 4.8rem 3.2rem; }

.container--bg {
  padding: 6.4rem 4.8rem; }

.container--lg {
  padding: 9.6rem 6.4rem; }

.container--vertical {
  padding: 9.6rem 0; }

.container--horizotal {
  padding: 0 3.2rem; }

.container--no-bottom {
  padding-bottom: 0; }

.padding-lw {
  padding: 1rem 1.6rem;
  padding-bottom: 2rem; }

.padding-sm {
  padding: 1.6rem 2.4rem;
  padding-bottom: 3rem; }

.padding-md {
  padding: 2rem 2.8rem;
  padding-bottom: 3.2rem; }

.padding-bg {
  padding: 2.4rem 4.8rem;
  padding-bottom: 3.6rem; }

.padding-hg {
  padding: 3.2rem 6.4rem;
  padding-bottom: 4.8rem; }

.shadow {
  box-shadow: 0 1.2rem 2.4rem rgba(0, 0, 0, 0.15); }

.shadow-l {
  box-shadow: 0 1.2rem 2.4rem rgba(0, 0, 0, 0.1); }

.shadow-m {
  box-shadow: 0 1.2rem 2.4rem rgba(0, 0, 0, 0.2); }

.shadow-d {
  box-shadow: 0 1.2rem 2.4rem rgba(0, 0, 0, 0.3); }

.radius-sm {
  border-radius: 3px; }

.radius-md {
  border-radius: 5px; }

.radius-bg {
  border-radius: 11px; }

.radius-hg {
  border-radius: 13px; }

.radius-hg {
  border-radius: 13px; }

.radius-round {
  border-radius: 10rem; }

.hide {
  opacity: 0;
  visibility: hidden;
  pointer-events: none; }

.translateHide {
  transform: translateX(-100%); }

.hidden {
  display: none !important; }

.show {
  opacity: 1;
  visibility: visible;
  pointer-events: auto; }

.linear-gradient-primary {
  color: linear-gradient(to right, #ff8787, #fa5252); }

.scale {
  transform: translate(-50%, -50%) scale(1) !important; }

.uppercase {
  text-transform: uppercase !important; }

.capitalize {
  text-transform: capitalize !important; }

.lowercase {
  text-transform: lowercase !important; }
  .lowercase::first-letter {
    text-transform: uppercase !important; }

.color-black-light {
  color: #777 !important; }

.color-black-medium {
  color: #555 !important; }

.color-black-dark {
  color: #333 !important; }

.text-center {
  text-align: center; }

.text-left {
  text-align: left; }

.text-right {
  text-align: right; }

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center; }

.center-with-margin {
  margin: 0 auto; }

.fixed-center {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }

.abs-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }

.sticky {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 1000;
  background: #e9ecef;
  box-shadow: 0 1.2rem 2.4rem rgba(0, 0, 0, 0.1); }

.icon-box {
  height: 4.8rem;
  width: 4.8rem;
  font-size: 1.6rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background: #fff; }
  .icon-box--sm {
    height: 3.2rem;
    width: 3.2rem;
    font-size: 1.2rem; }
  .icon-box--md {
    height: 4rem;
    width: 4rem;
    font-size: 1.4rem; }

.lazy-img {
  filter: blur(8px); }

.highlight::before {
  position: block;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: linear-gradient(to right, #ff8787, #fa5252);
  transform: scale(1.07, 1.05) skewX(-15deg); }

.fast-transition {
  transition: all 0s !important; }

.opacity {
  opacity: 1; }

.waitload {
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -ms-transition: none !important;
  -o-transition: none !important; }

@keyframes moveLeftIn {
  0% {
    transform: translateX(-13rem);
    opacity: 0; }
  80% {
    opacity: 0.8; }
  100% {
    transform: translateX(0);
    opacity: 1; } }

@keyframes moveRightIn {
  0% {
    opacity: 0;
    transform: translateX(13rem); }
  80% {
    opacity: 0.8; }
  100% {
    opacity: 100%;
    transform: translateX(0); } }

@keyframes moveBottomIn {
  0% {
    transform: translateY(8rem);
    opacity: 0; }
  100% {
    transform: translateY(0);
    opacity: 1; } }

@keyframes moveBottomInSpecial {
  0% {
    transform: translateY(0rem);
    opacity: 0; }
  100% {
    transform: translateY(-2.5rem);
    opacity: 1; } }

@keyframes spin {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }

@keyframes pulse {
  0% {
    transform: scale(1); }
  80% {
    transform: scale(1.05); }
  100% {
    transform: scale(1); } }

@keyframes scaleFromLeft {
  0% {
    opacity: 0;
    transform: scale(0.5, 0.5) translateX(-25rem);
    transform: translateX(-25rem) scale(0.5, 0.5); }
  70% {
    opacity: 0.5; }
  100% {
    opacity: 1;
    transform: scale(1); } }

@keyframes scaleFromRight {
  0% {
    opacity: 0;
    transform: scale(0.5) translateX(10rem); }
  100% {
    opacity: 1;
    transform: scale(1); } }

@keyframes rotate180 {
  0% {
    opacity: 0;
    transform: rotateY(180deg); }
  100% {
    opacity: 1;
    transform: rotateY(0); } }

@keyframes -rotate180 {
  0% {
    opacity: 0;
    transform: rotateY(-180deg); }
  100% {
    opacity: 1;
    transform: rotateY(0); } }

@keyframes opacitys {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

.spinner {
  text-align: center; }
  .spinner__icon {
    display: inline-block;
    height: 4.4rem;
    width: 4.4rem;
    fill: #fa5252;
    animation: spin 1s infinite; }

.grid--composition {
  display: grid;
  column-gap: 6.4vw;
  row-gap: 9.6vw;
  grid-template-columns: 6fr 4fr; }
  @media only screen and (max-width: 56.25em) {
    .grid--composition {
      grid-template-columns: 1fr; } }

.grid {
  display: grid; }
  .grid--center {
    align-items: center;
    justify-items: center; }
  .grid--center-vertically {
    align-items: center; }
  .grid--center-horizontally {
    justify-items: center; }
  .grid {
    row-gap: 9.6vw; }
    .grid--sm {
      row-gap: 2.4vw; }
    .grid--md {
      row-gap: 4.8vw; }
    .grid--bg {
      row-gap: 6.4vw; }
  .grid--cols-2, .grid--cols-2--sm {
    grid-template-columns: repeat(auto-fit, minmax(27rem, 1fr)); }
  .grid--cols-2 {
    row-gap: 9.6vw;
    column-gap: 6.4vw; }
  .grid--cols-2--sm {
    column-gap: 4.8vw;
    row-gap: 8vw; }
  .grid--cols-3 {
    grid-template-columns: repeat(auto-fit, minmax(27rem, 1fr));
    column-gap: 4.8vw;
    row-gap: 8rem; }
    .grid--cols-3--sm {
      grid-template-columns: repeat(auto-fit, minmax(27rem, 1fr));
      column-gap: 3.2rem;
      row-gap: 6.4rem; }
  .grid--cols-4, .grid--cols-4--sm {
    grid-template-columns: repeat(auto-fit, minmax(26rem, 1fr)); }
  .grid--cols-4 {
    column-gap: 3.2vw;
    row-gap: 6.4vw; }
  .grid--cols-4--sm {
    column-gap: 2.4vw;
    row-gap: 3.2vw; }
  .grid--cols-5 {
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    column-gap: 3.2vw;
    row-gap: 4.8vw; }

.nav {
  height: 7rem;
  font-size: 1.6rem;
  padding: 2.4rem 3.2rem;
  padding-right: 4.8rem;
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: space-between;
  width: 100vw;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100; }
  .nav__btn {
    height: 2.2rem;
    width: 3.4rem;
    border: none;
    background: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 2.4rem;
    right: 3.2rem;
    cursor: pointer;
    z-index: 250; }
    .nav__btn-icon {
      background: #dee2e6;
      width: 100%;
      height: 1px; }
    .nav__btn::before, .nav__btn::after {
      content: "";
      position: absolute;
      left: 0;
      width: 100%;
      height: 2px;
      display: inline-block;
      background: #dee2e6;
      transition: all 0.5s; }
    .nav__btn::before {
      top: 0; }
    .nav__btn::after {
      bottom: 0; }
  .nav__overlay {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    -webkit-backdrop-filter: blur(3px);
    backdrop-filter: blur(3px);
    background: rgba(0, 0, 0, 0.5);
    transform: translateX(-100%);
    z-index: 100;
    transition: all 1s 0.1s; }
  .nav__list {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    transform: translateX(-100%);
    transition: all 1s 0.3s;
    z-index: 200; }
  .nav__item {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translateX(-100%); }
    .nav__item--1 {
      background: #e03131;
      transition: all 0.5s 0.45s; }
    .nav__item--2 {
      background: #1971c2;
      transition: all 0.5s 0.4s; }
    .nav__item--3 {
      background: #099268;
      transition: all 0.5s 0.3s; }
    .nav__item--4 {
      background: #6c63ff;
      transition: all 0.5s 0.2s; }
    .nav__item--5 {
      background: #121212;
      transition: all 0.5s 0.1s; }
  .nav__link:link, .nav__link:visited {
    text-transform: uppercase;
    font-size: 2rem;
    color: #fff;
    letter-spacing: 1.4px; }
  .nav__open .nav__btn-icon {
    background: transparent; }
  .nav__open .nav__btn::before, .nav__open .nav__btn::after {
    top: 50%; }
  .nav__open .nav__btn::before {
    transform: rotate(45deg); }
  .nav__open .nav__btn::after {
    transform: rotate(-45deg); }
  .nav__open .nav__overlay {
    transform: translateX(0);
    transition: all 0.5s; }
  .nav__open .nav__list {
    transform: translateX(0%);
    transition: all 0.5s; }
  .nav__open .nav__item {
    transform: translateX(0%); }
    .nav__open .nav__item--1 {
      transition: all 0.6s 0.1s; }
    .nav__open .nav__item--2 {
      transition: all 0.6s 0.2s; }
    .nav__open .nav__item--3 {
      transition: all 0.6s 0.3s; }
    .nav__open .nav__item--4 {
      transition: all 0.6s 0.4s; }
    .nav__open .nav__item--5 {
      transition: all 0.6s 0.5s; }

.logo {
  text-transform: uppercase;
  font-weight: 600;
  color: #dee2e6;
  border-bottom: 1px solid #dee2e6;
  padding-bottom: 0.2rem; }

.section {
  height: 80rem;
  width: 100%; }

.section-hero {
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("https://images.unsplash.com/photo-1520350145737-ee9761639142?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1071&q=80");
  background-size: cover;
  height: 100vh;
  width: 100%; }

.section-about {
  background: #1971c2; }

.section-strength {
  background: #099268; }

.section-results {
  background: #9641ff; }

.section-response {
  background: #000; }
