.section {
  height: 80rem;
  width: 100%;
}

.section-hero {
  background: linear-gradient(rgba($color-black, 0.3), rgba($color-black, 0.3)),
    url("https://images.unsplash.com/photo-1520350145737-ee9761639142?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1071&q=80");
  background-size: cover;
  height: 100vh;
  width: 100%;
}

.section-about {
  background: $color-secondary-dark;
}

.section-strength {
  background: $color-tertiary-dark;
}

.section-results {
  background: $color-dark-primary;
}

.section-response {
  background: $color-black;
}
